# Old versions kept locally only
3D view.png
PCB design.png
Wiring design.png
Gerber_Hack-club-Solder-project_PCB_Hack-club-Solder-project_2026-09-08.zip
PCB_PCB_Hack-club-Solder-project_2026-09-08 (1).json
PCB_PCB_Hack-club-Solder-project_2026-09-08.json
3D view2 top.png
3D view2 bottom.png
PCB design2.png
Gerber_Hack-club-Solder-project_PCB_Hack-club-Solder-project_2_2026-09-14.zip
PCB_PCB_Hack-club-Solder-project_2_2026-09-14.json
